<web-app>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin page</web-resource-name>
            <url-pattern>/rest/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User page</web-resource-name>
            <url-pattern>/rest/user</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <description>The role that is required to log in to /admin</description>
        <role-name>Admin</role-name>
    </security-role>

    <security-role>
        <description>The role that is required to log in to /user</description>
        <role-name>User</role-name>
    </security-role>

    <!-- Configure login to be HTTP Basic -->
    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>initialApplicationDomain</realm-name>-->
    <!--</login-config>-->
</web-app>